*.o
*.json
*.lastcodeanalysissucceeded
*.log
*.obj
*.pdb
*.codeanalysisast
*.deps
*.cache
*.bin
.vscode/
*/__pycache__
*.pyc
*.exp
*.lib
*.exe
bin/*
*.vcxproj*
*.sln
*.vs/
*Debug/
*.csv
*.test
*.pdf
*.dat
*sim*
*log.*
*CYLINDER/
*LDC/
*SAR/
*PARTICLES/
